//- Index Page: Project Preview

mixin project-preview(client, title, href)
  .project-preview
    a.project-preview__link(href=href)
      .project-preview__details
        h2.project-preview__client=client
        h3.project-preview__title=title


//- Project Page: Related Projects

mixin related-project(client, href, imagelink)
  .related-project
    a.related-project__link(href=href)
      img.related-project__image(src='/images/related-projects/related-project_abbey.jpg')
      h2.related-project__client=client
